.lock-panel {
  height: fit-content;

  input {
    margin-bottom: 10px;
  }

  button {
    margin-right: 10px;
  }
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
